{% extends 'base.html' %}
{% block conteudo %}

<h2>Novo Agendamento</h2>

<form method="POST">

    <select name="cliente_id" class="form-control mb-2">
        {% for c in clientes %}
            <option value="{{ c.id }}">{{ c.nome }}</option>
        {% endfor %}
    </select>

    <input name="servico" class="form-control mb-2" placeholder="Serviço">
    <input type="date" name="data" class="form-control mb-2">
    <input type="time" name="hora" class="form-control mb-2">

    <button class="btn btn-primary">Salvar</button>

</form>

{% endblock %}