{% extends 'base.html' %}

{% block conteudo %}

<h2>Agendamentos</h2>

<a href="/adicionar_agendamento" class="btn btn-success mb-3">
    Novo Agendamento
</a>

<table class="table table-bordered">

    <tr>
        <th>Cliente</th>
        <th>Serviço</th>
        <th>Data</th>
        <th>Hora</th>
        <th>Pagamento</th>
        <th>Ações</th>
    </tr>

    {% for a in agendamentos %}

    <tr>

        <td>{{ a.cliente.nome }}</td>

        <td>{{ a.servico }}</td>

        <td>{{ a.data }}</td>

        <td>{{ a.hora }}</td>

        <td>

            <a target="_blank"
               href="https://wa.me/5531972150654?text=Olá%20{{ a.cliente.nome }},%20segue%20o%20pagamento%20do%20serviço%20{{ a.servico }}.%20PIX:%203069dcae-baea-43ac-9291-328989b4144b"
               class="btn btn-success btn-sm">

               Cobrar

            </a>

        </td>

        <td>

            <a href="/excluir_agendamento/{{ a.id }}"
               class="btn btn-danger btn-sm">
               Excluir
            </a>

        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}