{% extends 'base.html' %}

{% block conteudo %}

<h2>Agendamentos</h2>

<a href="/adicionar_agendamento" class="btn btn-success mb-3">
    Novo Agendamento
</a>

<table class="table table-bordered">

    <tr>
        <th>Cliente</th>
        <th>Serviço</th>
        <th>Data</th>
        <th>Hora</th>
    </tr>

    {% for a in agendamentos %}

    <tr>
        <td>{{ a.cliente_id }}</td>
        <td>{{ a.servico }}</td>
        <td>{{ a.data }}</td>
        <td>{{ a.hora }}</td>
    </tr>

    {% endfor %}

</table>

{% endblock %}