{% extends 'base.html' %}

{% block conteudo %}

<h2>Login</h2>

<form method="POST">

    <input name="email" class="form-control mb-2" placeholder="Email">

    <input name="senha" type="password" class="form-control mb-2" placeholder="Senha">

    <button class="btn btn-primary">Entrar</button>

</form>

<div class="card p-4 mt-4">

    <h3>Plano do Sistema</h3>

    <p>
        Use o sistema completo de salão de beleza
        por apenas R$ 29,90/mês.
    </p>

    <a
        href="https://wa.me/5531972150654?text=Olá,%20quero%20assinar%20o%20sistema%20de%20salão"
        class="btn btn-success"
        target="_blank"
    >
        Assinar pelo WhatsApp
    </a>

</div>