{% extends 'base.html' %}

{% block conteudo %}

<div class="card p-4 mt-4 text-center">

    <h2>Plano do Sistema</h2>

    <p class="mt-3">
        Use o sistema completo de salão de beleza
        por apenas R$ 29,90/mês.
    </p>

    <a
        href="https://wa.me/5531972150654?text=Olá,%20quero%20assinar%20o%20sistema%20de%20salão"
        class="btn btn-success mt-3"
        target="_blank"
    >
        Assinar pelo WhatsApp
    </a>

    <p class="mt-4">
        Após o pagamento, seu acesso será liberado.
    </p>

</div>

{% endblock %}